@import "./button-vars.scss";

.wrapper {
  margin: $button-margin-vertical $button-margin-horizontal;
}

.button {
  width: $button-size;

  &--clear {
    background: transparent;
    border: 0;
    color: $blue;
  }
}
