@import "../Button/button-vars";

$margins: calc(#{$button-margin-horizontal} * 2);
$button-with-margins: calc(#{$button-size} + #{$margins});

$anim-bezier: cubic-bezier(1, -0.18, 0.39, 1.27);
$anim-duration: 500ms;

$multiplier: var(--selected);

.wrapper {
  margin: 4px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  --selector-position: calc(((#{$button-with-margins} * #{$multiplier}) * -1));

  &::before {
    content: "";

    height: 28px;
    position: absolute;
    width: $button-size;

    border: 1px solid $blue;
    border-radius: 8px;

    transform: translate(var(--selector-position), $button-margin-vertical);

    transition: transform $anim-bezier $anim-duration;
  }
}

.toggle {
  &__button {
    margin: 0 4px;
  }
}
